AXBLayer/Connected Services/AxServiceRef/xppservice2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://devaospl.pl.corp/MicrosoftDynamicsAXAif60/AxDeploy/xppservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" />
  <xs:import schemaLocation="http://devaospl.pl.corp/MicrosoftDynamicsAXAif60/AxDeploy/xppservice.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
  <xs:import schemaLocation="http://devaospl.pl.corp/MicrosoftDynamicsAXAif60/AxDeploy/xppservice.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" />
  <xs:import schemaLocation="http://devaospl.pl.corp/MicrosoftDynamicsAXAif60/AxDeploy/xppservice.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
  <xs:import schemaLocation="http://devaospl.pl.corp/MicrosoftDynamicsAXAif60/AxDeploy/xppservice.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/EcoResProduct" />
  <xs:import schemaLocation="http://devaospl.pl.corp/MicrosoftDynamicsAXAif60/AxDeploy/xppservice.svc?xsd=xsd11" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Item" />
  <xs:import schemaLocation="http://devaospl.pl.corp/MicrosoftDynamicsAXAif60/AxDeploy/xppservice.svc?xsd=xsd12" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/SalesQuotation" />
  <xs:element xmlns:q1="http://schemas.microsoft.com/dynamics/2011/02/documents/DocumentPaging" name="DocumentPaging" type="q1:DocumentPaging" />
  <xs:element xmlns:q2="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" name="EntityKeyList" type="q2:EntityKeyList" />
  <xs:element xmlns:q3="http://schemas.microsoft.com/dynamics/2011/02/documents/EntityKeyPage" name="EntityKeyPage" type="q3:EntityKeyPage" />
  <xs:element xmlns:q4="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" name="QueryCriteria" type="q4:QueryCriteria" />
  <xs:element xmlns:q5="http://schemas.microsoft.com/dynamics/2008/01/documents/EcoResProduct" name="AxdEcoResProduct" type="q5:AxdEcoResProduct" />
  <xs:element xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Item" name="AxdItem" type="q6:AxdItem" />
  <xs:element xmlns:q7="http://schemas.microsoft.com/dynamics/2008/01/documents/SalesQuotation" name="AxdSalesQuotation" type="q7:AxdSalesQuotation" />
</xs:schema>